.Card {
  display: inline-block;
  width: 70px;
  height: 100px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-linear-gradient(45deg, #444cf7 25%, transparent 25%, transparent 75%, #444cf7 75%, #444cf7), repeating-linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%, #e5e5f7 75%, #444cf7 75%, #444cf7);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  padding: 0;
}

.player-card, .computer-card {
  height: 100px;
}


