.App {
  text-align: center;
  background-color: #a9d5ee;
  background-image: linear-gradient(160deg, #a9d5ee 0%, #92cdef 100%);

}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

h2 {
  color: white;
}